$cPrimary: #1a1a1a;
$cPrimaryLight: rgba($cPrimary, .1);

$cSecondary: #fff;
$cSecondaryH: darken($cSecondary, 5% );
$cSecondaryA: darken($cSecondary, 10% );

$cDetail: rgba($cSecondary, .4);
$cDetailH: rgba($cSecondary, 1);
$cDetailA: rgba($cSecondary, .82);

$cHighlight: lighten($cPrimary, 15%);
$cHighlightH: darken($cHighlight, 5% );
$cHighlightA: darken($cHighlight, 10% );

$cOffWhite: #fcf9ef;

$cPositive: #73c7c5;
$cPositiveDark: darken($cPositive, 5% );
$cNegative: #e2266b;
$cNegativeDark: darken($cNegative, 5%);
