@mixin fontButton($color)
{
    font-family: 'Rokkitt', serif;
    font-size: 1.4em;
    font-weight: 600;

    color: $color;
}

@mixin fontPara($color)
{
    font-family: 'Rokkitt', serif;
    font-size: 1.25em;
    font-weight: normal;
    line-height: 24px;

    color: $color;
}

@mixin fontInput($color)
{
    font-family: 'Rokkitt', serif;
    font-size: .8em;
    font-weight: normal;

    color: $color;
}
